.mainDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.travelDetailsSection {
background-color: #007bFF;
margin: 12px 0px;
border-radius: 5px
}

.activityDetailsSection {
  background-color: #037af9;
  margin: 12px 0px;
  border-radius: 5px;
}

