/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
  }

  /* Modal Styling for Light Mode */
  .modal-content {
    background-color: #fff;
    color: #213547;
  }

  .modal-content label {
    color: #333;
  }

  .modal-content input {
    border: 1px solid #ddd;
  }

  .modal-content input:focus {
    border-color: #007bff;
  }

  .modal-content button {
    background-color: #007bff;
    color: white;
  }

  .modal-content button:hover {
    background-color: #0056b3;
  }

  .close-button:hover {
    background-color: #d32f2f;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #213547;
    color: white;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #747bff;
  }

  /* Modal Styling for Dark Mode */
  .modal-content {
    background-color: #2a3b4f;
    color: white;
  }

  .modal-content label {
    color: #ddd;
  }

  .modal-content input {
    background-color: #3a4c63;
    color: white;
    border: 1px solid #555;
  }

  .modal-content input:focus {
    border-color: #747bff;
  }

  .modal-content button {
    background-color: #747bff;
    color: white;
  }

  .modal-content button:hover {
    background-color: #5a62d1;
  }

  .close-button:hover {
    background-color: #b32f2f;
  }
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures the modal is on top of other content */
  animation: fadeIn 0.3s ease-in-out; /* Animation for fade in */
}

/* Modal Content Box */
.modal-content {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out; /* Slide-in animation */
}

.countryInput {
  position: relative;
}

.modal-content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-content input {
  padding: 10px;
  margin: 12px 0;
  font-size: 1em;
  border-radius: 4px;
  width: 95%;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
}

/* Keyframe for fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframe for slideIn */
@keyframes slideIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}  