.travelListSection {
  width: 95vw;
  display: grid;
  margin: 20px;
  padding: 20px;
  background-color: #ea7d1d;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem;
  grid-auto-rows: 1fr;
}

.travelListHeader {
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
  color: white;
}
.emptySectionpopup {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  align-self: center;
  justify-self: center;
  width: 75%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}
